node_modules/
__pycache__/
drivers/
.cache/
venv*/
dist/
activate.bat
*.log
*.exe
keyboards/10
keyboards/23
keyboards/46

# Dependencies
webfonts/
*.min.*
*-min.*
*-json.js
ace.js
theme-solarized_light.js
fontawesome.css
regular.css
