header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li {
    flex-grow: 1;
}
header li > button {
    width: 100%;
    border-radius: 0 !important;
}
