header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li {
    flex-grow: 1;
}
header li > button {
    width: 100%;
    border-radius: 0 !important;
}

.control {
    padding: 1em 0 0;
    font-family: var(--monospace);
    color: var(--base1);
    background: repeating-linear-gradient(
        45deg,
        var(--base03),
        var(--base03) 10px,
        var(--base02) 10px,
        var(--base02) 20px
    );
}

.control > div > div {
    display: flex;
}

.control > div > div:first-child {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.control > div > div:last-child {
    text-align: center;
}

/* Form */

.control input[type=color],
.control input[type=text],
.control input[type=number] {
    border-radius: 0;
    color: var(--base02);
}

.control label {
    width: 4em !important;
}

.control fieldset div input[type=text],
.control fieldset div input[type=number] {
    width: 8em;
}

.control fieldset div:first-child input[type=color],
.control fieldset div:first-child input[type=text],
.control fieldset div:first-child input[type=number] {
    border-radius: var(--radius) var(--radius) 0 0;
}

.control fieldset div:last-child input[type=color],
.control fieldset div:last-child input[type=text],
.control fieldset div:last-child input[type=number] {
    border-radius: 0 0 var(--radius) var(--radius);
}

.control fieldset div:only-child input[type=color],
.control fieldset div:only-child input[type=text],
.control fieldset div:only-child input[type=number] {
    border-radius: var(--radius);
}

/* Buttons */

.control div > div:last-child button {
    flex-grow: 1;
    border-radius: 0 !important;
}

.control div button:first-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.control div button:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
}

.control div button:only-child {
    border-radius: var(--radius);
}

.control div button.error {
    background-color: var(--orange);
}

.control div button.success {
    background-color: var(--green);
}

@media only screen and (min-width: 768px) {
    /* Buttons */
    .control div button:first-child {
        border-radius: var(--radius) 0 0 var(--radius);
    }
    .control div button:last-child {
        border-radius: 0 var(--radius) var(--radius) 0;
    }
    .control div button:only-child {
        border-radius: var(--radius);
    }
}

/* Animation
.control {
    overflow-x: hidden;
}
#layouts {
    transition: transform var(--duration) ease-in;
    float: left;
}
#layouts.slide-in {
    transform: translateX(0%);
}
#layouts.slide-out {
    transform: translateX(-100%);
}
#housing {
    transition: transform var(--duration) ease-in;
}
#housing.slide-in {
    transform: translateX(0%);
}
#housing.slide-out {
    transform: translateX(100%);
}
*/