section svg {
    display: block;
    margin: auto;
    border: 8px dashed #073642;
    /* NOTE: Disable text selection */
    user-select: none;
}

@media only screen and (min-width: 768px) {
    /* NOTE: Remove the solid highlight from mobile devices */
    section svg {
        cursor: pointer;
    }
}
