.controller {
    display: none;
    background-color: var(--base2);
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: var(--radius) dotted var(--base3);
    font-family: var(--monospace);
}

.controller.active {
    display: flex;
}

.controller.active {
    position: fixed;
    z-index: 7;
    bottom: 0;
    right: 0;
    /* left: 0; */
}

.controller > div {
    width: 100%;
}

.controller > div,
.controller > form {
    margin: 1em;
}

.controller input[type=text],
.controller input[type=number] {
    border-radius: 0;
    width: 6em;
}

.controller div:first-child input[type=text],
.controller div:first-child input[type=number] {
    border-radius: var(--radius) var(--radius) 0 0;
}

.controller div:last-child input[type=text],
.controller div:last-child input[type=number] {
    border-radius: 0 0 var(--radius) var(--radius);
}

.controller div:only-child input[type=text],
.controller div:only-child input[type=number] {
    border-radius: var(--radius);
}

.controller form:last-child input[type=text],
.controller form:last-child input[type=number] {
    width: auto;
}

.controller div button {
    border-radius: 0;
    width: 100%;
}

.controller div button:first-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.controller div button:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
}

.controller div button:only-child {
    border-radius: var(--radius);
}

.controller div button.error {
    background-color: var(--red);
}

.controller div button.success {
    background-color: var(--green);
}

@media only screen and (min-width: 768px) {
    .controller > div {
        width: auto;
    }
}
