.controller div button {
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: var(--monospace);
    color: var(--base03);
    width: 3em;
}
.controller div div:first-child button:first-child {
    border-radius: 2px 0 0 0;
}
.controller div div:last-child button:last-child {
    border-radius: 0 0 2px 0;
}
.controller div div:last-child button:first-child {
    border-radius: 0 0 0 2px;
}
.controller div div:first-child button:last-child {
    border-radius: 0 2px 0 0;
}

.controller div input[type=text] {
    border-radius: 0;
    height: 2.45em;
}
