.controller {
    display: none;
    background-color: var(--base2);
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px dotted var(--base3);
}

.controller.active {
    display: flex;
}

.controller > form {
    margin: 1em;
}

.controller input[type=text],
.controller input[type=number] {
    border-radius: 0;
    width: 6em;
}

.controller div:last-child input[type=text],
.controller div:last-child input[type=number] {
    border-radius: 0 0 2px 2px;
}

.controller div:first-child input[type=text],
.controller div:first-child input[type=number] {
    border-radius: 2px 2px 0 0;
}

.controller div:only-child input[type=text],
.controller div:only-child input[type=number] {
    border-radius: 2px;
}
