.navigation {
    background-color: var(--base02);
    color: var(--base2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation h1 {
    font-family: var(--cursive);
    letter-spacing: 0.2em;
    font-size: 3em;
    padding: 8px 64px 8px 16px;
    margin: 8px 0 0 0;
}

.navigation h1 span {
    color: var(--base0);
}

.navigation h1 span:last-child {
    color: var(--base2);
    position: absolute;
    transform: rotate(-90deg);
}

.navigation .download {
    margin: 1em;
}

.navigation .download button {
    color: var(--base02);
    width: 100%;
}

.navigation div form {
    margin: 1em;
    width: auto;
    color: var(--base2);
}

.navigation div form input {
    margin: 0 1em 0 0;
}

.navigation div form label {
    display: block;
}

.navigation .more {
    margin: 1em;
}

.navigation .description {
    font-family: var(--monospace);
    padding: 0 16px;
    font-size: 0.6em;
}
